<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/styles.css" | relative_url }}">
    <style>* {color: black; } ul {margin: 0; } div > ul {margin-bottom: 20px;}</style>
  </head>
  <body>
    <button id="openbtn" onclick="togglenav()">☰</button>

    <div class="wrapper">

      {{ content }}

    </div>

    <div id="toc-open">false</div>

    <script>
      function togglenav() {
        open = document.getElementById("toc-open").innerHTML
        
        if(open == "true") {
          closeNav()
        } else {
          openNav()
        }
      }

      function openNav() {
        document.getElementById("toc-open").innerHTML = "true"
        document.getElementById("openbtn").style.width = "415px"
        document.getElementById("openbtn").style.backgroundColor = "#ccc"
        document.querySelector(".wrapper").style.width = "1000px";
        document.querySelector(".wrapper > ul:nth-child(1)").style.width = "350px";
        document.querySelector(".wrapper > ul:nth-child(1)").style.paddingLeft = "40px"
        document.querySelector(".wrapper > ul:nth-child(1)").style.paddingRight = "25px"
        document.getElementsByClassName("wrapper")[0].style.marginLeft = "400px";
      }
      
      function closeNav() {
        document.getElementById("toc-open").innerHTML = "false"
        document.getElementById("openbtn").removeAttribute("style")
        document.querySelector(".wrapper").removeAttribute("style")
        document.querySelector(".wrapper > ul:nth-child(1)").style.width = "0";
        document.querySelector(".wrapper > ul:nth-child(1)").style.paddingLeft = "0px"
        document.querySelector(".wrapper > ul:nth-child(1)").style.paddingRight = "0px"
        document.getElementsByClassName("wrapper")[0].removeAttribute("style")
      }
    </script>
  </body>
</html>
